node_modules/*
/wp-content/themes/darwinapps/node_modules/*
.well-known/
cgi-bin/

### Development Themes ###
/wp-content/themes/pressfoundry/node_modules/


### WP Plugins ###
/wp-content/plugins/*
/wp-content/plugins/index.php
!/wp-content/plugins/callback-lsweb-master


### WP Themes ###
/wp-content/themes/twenty*
/wp-content/themes/index.php
/wp-content/languages/


### WordPress ###
/wp-content/4800dd5ecf-backups/
/wp-config.php
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/db.php
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backup-db/*
/wp-content/backups/
/wp-content/cache/*
/wp-content/upgrade/
/wp-content/languages/
/wp-content/upgrade-temp-backup/
/wp-content/upgrade/*
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/blogs.dir/
/wp-content/blogs.dir/*

/local-phpinfo.php
/local-xdebuginfo.php

/docs/*
/pdfs/*


/favicon.ico
/apple-touch-icon.png
/apple-touch-icon-precomposed.png

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


/wp-mail.php
/wp-trackback.php
/wp-cron.php
/wp-login.php
/index.php
/wp-links-opml.php
/wp-activate.php
/wp-config-sample.php
/wp-settings.php
/wp-signup.php
/wp-load.php
/wp-blog-header.php
/wp-comments-post.php
/xmlrpc.php
/db-config.php
/wp-app.php
/wp-atom.php
/wp-commentsrss2.php
/wp-feed.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php

### Inner GIT repository files ###
# git shouldn't add child repos .git directories but just to make sure.
.git
.git/*
/wp-content/plugins/*/.gitignore
/wp-content/themes/*/.gitignore


### Large/disallowed file types ###
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab

# Windows shortcuts
*.lnk

### Node ###
# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env


# CMake
cmake-build-debug/

# File-based project format:
*.iws

# Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml


# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


# Sonarlint plugin
.idea/sonarlint

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Common Ignored Files ###
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.sass-cache/
robots.txt


### IDEs ###
.idea
.vscode


# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
